{% extends "layout.html" %}

{% block title %}
    Check Destination
{% endblock %}

{% block main %}
    <script>
    $(document).ready(function(){
        document.getElementById("myForm").addEventListener("submit", function(event){
            event.preventDefault();
            if (navigator.geolocation && document.querySelector('input[name="current"]:checked')){
                navigator.geolocation.getCurrentPosition(function(position){
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    document.getElementById("location").value = latitude + "," + longitude
                    $('#myForm').submit();
                });
            }
        })
    });
    </script>
    {% if info is defined %}
        <h1>Route Information</h1>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Directions!</h2>
                    {% for nav in info["directions"] %}
                        <ul>
                            <li><strong>{{ nav[0] }}</strong> for <strong>{{ nav[1] }}</strong> miles</li>
                        </ul>
                    {% endfor %}
                </div>
                <div class="col-sm-4">
                    <h2>Total Time!</h2>
                    <p>{{ info["time"] }}</p><br>
                    <h2>Total Distance!</h2>
                    <p>{{ info["distance"] }} miles to the destination!</p><br>
                </div>
            </div>
        </div>
    {% else %}
        <form action="/checkDest" method="post" id="myForm">
            <h1>Start</h1>
            <div class = "form-group">
                <input class="form-check-input" name="current" value="current location" type="checkbox" id="location">
                <label class="form-check-label">Use Current Location?</label><br>
                <input autofocus class="form-control" name="start_street" placeholder="Street" type="text">
                <input class="form-control" name="start_city" placeholder="City" type="text">
                <input class="form-control" name="start_state" placeholder="State" type="text">
            </div>
            <h1>End</h1>
            <div class = "form-group">
                <input class="form-control" name="end_street" placeholder="Street" type="text">
                <input class="form-control" name="end_city" placeholder="City" type="text">
                <input class="form-control" name="end_state" placeholder="State" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Search!</button>
        </form>
    {% endif %}
{% endblock %}
