{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    {% if stocks_info is defined %}
        <h1>{{ username }}'s current stocks!</h1>
        <table class = "table">
            <thead>
                <tr>
                    <th scope="col">Cash Left</th>
                    <th scope="col">Total Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ "{:,.2f}".format(cash) }}</td>
                    <td>{{ "{:,.2f}".format(total_cash) }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Value of Stocks</th>
                </tr>
            </thead>
            <tbody>
                {% for share in stocks_info %}
                    <tr>
                        <td>{{ stocks_info[share]["company"] }}</td>
                        <td>{{ stocks_info[share]["number"] }}</td>
                        <td>{{ stocks_info[share]["price"] }}</td>
                        <td>{{ "{:,.2f}".format(stocks_info[share]["price"] * stocks_info[share]["number"]) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Welcome to CS50 Finance!</h1>
    {% endif %}
{% endblock %}