{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <script>
    $(document).ready(function(){
        if (navigator.geolocation){
            navigator.geolocation.getCurrentPosition(function(position){
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                alert(latitude + "," + longitude)
                $.get("/?loc=" + latitude + "," + longitude);
            }
        });
    });
    </script>

    <h1>Welcome to Mapz!</h1>
    <h2>{{ coords }}</h2>
    <div class="col-sm-8">
        <form action="/route" method="post" name="myForm">
            <h2>Start</h2>
            <div class="form-group">
                <input class="form-check-input" name="current" value="" type="checkbox" id="location1">
                <label class="form-check-label">Use Current Location?</label><br>
                <input autofocus class="form-control" name="start_street" placeholder="Street" type="text">
                <input class="form-control" name="start_city" placeholder="City" type="text">
                <input class="form-control" name="start_state" placeholder="State" type="text">
            </div>
            <h2>End</h2>
            <div class = "form-group">
                <input class="form-control" name="end_street" placeholder="Street" type="text">
                <input class="form-control" name="end_city" placeholder="City" type="text">
                <input class="form-control" name="end_state" placeholder="State" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Route!</button>
        </form>
    </div>
{% endblock %}


