{% extends "layout.html" %}

{% block title %}
    Things Nearby
{% endblock %}

{% block main %}
    {% if options is defined %}
    <h2>{{ search }} nearby!</h2>
    <br>
        <ul>
            {% for option in options %}
                <li><strong>{{ option }}</strong></li>
            {% endfor %}
        </ul>
    {% else %}
        <form action="/near" method="post" name="myForm">
            <h2>Start!</h2>
            <div class = "form-group">
                <input class="form-check-input" name="current" type="checkbox" id="location">
                <label class="form-check-label">Use Current Location?</label><br>
                <input autofocus class="form-control" name="start_street" placeholder="Street" type="text">
                <input class="form-control" name="start_city" placeholder="City" type="text">
                <input class="form-control" name="start_state" placeholder="State" type="text">
            </div><br><br>
            <h2>Search Information!</h2>
            <div class = "form-group">
                <select name="search" class="form-control">
                    <option disabled selected>Type of Search</option>
                    <option value="gas">Gas</option>
                    <option value="restaurant">Foods</option>
                    <option value="dessert">Desserts</option>
                    <option value="hotel">Hotels</option>
                    <option value="market">Markets</option>
                    <option value="other">Other</option>
                </select>
                <input class="form-control" name="other" placeholder="If other, fill in the blank" type="text">
                <input class="form-control" name="number" placeholder="Number of Searches" type="number">
            </div>
            <button class="btn btn-primary" type="submit">Search!</button>
        </form>
    {% endif %}
{% endblock %}