{% extends "layout.html" %}

{% block title %}
    Route Information
{% endblock %}

{% block main %}
    {% if info is defined %}
        <h1>Route Information</h1>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Directions!</h2>
                    {% for nav in info["directions"] %}
                        <ul id="route">
                            <li><strong>{{ nav[0] }}</strong> for <strong>{{ nav[1] }}</strong> miles</li>
                        </ul>
                    {% endfor %}
                    <h4>{{ info["destination"] }}</h4>
                </div>
                <div class="col-sm-4">
                    <h2>Total Time!</h2>
                    <p id="time">{{ info["time"] }}</p><br>
                    <h2>Total Distance!</h2>
                    <p id="distance">{{ info["distance"] }} miles to the destination!</p><br>
                </div>
            </div>
            <button class="btn btn-primary" id="myBtn">Click to refresh route Guidance!</button>
        </div>
    {% else %}
        <form action="/route" method="post" name="myForm">
            <h2>Start</h2>
            <div class = "form-group">
                <input class="form-check-input" name="current" value="current location" type="checkbox" id="location">
                <label class="form-check-label">Use Current Location?</label><br>
                <input autofocus class="form-control" name="start_street" placeholder="Street" type="text">
                <input class="form-control" name="start_city" placeholder="City" type="text">
                <input class="form-control" name="start_state" placeholder="State" type="text">
            </div>
            <h2>End</h2>
            <div class = "form-group">
                <input class="form-control" name="end_street" placeholder="Street" type="text">
                <input class="form-control" name="end_city" placeholder="City" type="text">
                <input class="form-control" name="end_state" placeholder="State" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Route!</button>
        </form>
    {% endif %}
    <script>
    $(document).ready(function(){
        document.getElementById("myBtn").addEventListener("click", function(event){
            if (navigator.geolocation){
                navigator.geolocation.getCurrentPosition(function(position){
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    $.get("/update?location=" + latitude + "," + longitude + "&destination=" + $("h4").text(), function(result) {
                        alert(result["route"])
                        alert(result["time"])
                        alert(result["distance"])
                        var text = "";
                        for (var i = 0; i < result["route"].length; i++){
                            alert("i: " + i)
                            text += "<li><strong>" + result["route"][i][0] + "</strong> for <strong>" + result["route"][i][0] + "</strong> miles</li>";
                        }

                        $("ul[id='route']").html(text);

                        $("p[id='time']").html(result["time"]);

                        $("p[id='distance']").html(result("distance") + " miles to the destination!");
                    });
                });
            }
        });
    });
    </script>
{% endblock %}
